.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.loaderWrapper {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .header {
    margin-bottom: 1rem;
    word-break: break-all;
  }
  .btnGroup {
    margin-bottom: 1rem;
  }
}
